@use '@carbon/colors';

.right-relief {
    margin-left: 10px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: max-content;
}

.grid-container .cds--progress-bar__label {
    margin-bottom: 0;
}

.note-light {
    max-width: 300px;
    color: colors.$green-20;
}

.progress-warning .cds--progress-bar__bar {
    background-color: colors.$yellow-30;
}

.progress-error .cds--progress-bar__bar {
    background-color: colors.$red-60;
}

.progress-success .cds--progress-bar__bar {
    background-color: colors.$green-50;
}
