@use '@carbon/colors';

.top-relief {
    padding-top: 32px;
    padding-bottom: 64px;
}

.cds--tab-content {
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
}

.square-tag {
    border-radius: 0;
}

.datepicker {
    display: block !important;
}

.datepicker .cds--date-picker-container {
    margin-bottom: 16px;
}

.text-blue {
    color: colors.$blue-60;
}

.text-alert {
    color: colors.$red-60;
}

.ghostish {
    width: 175px;
    background-color: colors.$blue-10;
}

.note {
    color: colors.$gray-60;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: x-small;
}

.footnote {
    color: colors.$gray-60;
    margin: 8px;
    font-size: small;
}

.link-to-modal:hover {
    cursor: pointer;
}

.panel-padding {
    padding: 0;
}

.fg-attack-selected > .cds--contained-list-item__content {
    color: colors.$blue-60;
}

.fg-attack-selected .square-tag {
    background-color: colors.$blue-10;
    color: colors.$blue-60;
}

.note-reference {
    color: colors.$red-60;
}

.p-value-tag {
    width: 150px;
}

.flex-tab .cds--tabs__nav-item-label {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: super;
}

.spacer {
    height: 8px !important;
}
