@use '@carbon/colors';

.top-relief {
    padding-top: 32px;
    padding-bottom: 64px;
}

.cds--tab-content {
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
}

.square-tag {
    border-radius: 0;
}

.datepicker {
    display: block !important;
}

.datepicker .cds--date-picker-container {
    margin-bottom: 16px;
}

.text-alert {
    color: colors.$red-60;
}

.ghostish {
    width: 175px;
    background-color: colors.$blue-10;
}

.note {
    color: colors.$gray-60;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: x-small;
}

.footnote {
    color: colors.$gray-60;
    margin: 8px;
    font-size: small;
}

.link-to-modal:hover {
    cursor: pointer;
}
